go 1.25.0

use (
	./00_HelloWorld
	./01_variables_and_data_types
	./02_print_and_string_formatting
	./03_boolean_and_conditional_operations
	./04_arrays_and_slices
	./05_loops_and_iterations
	./06_functions_and_methods
	./07_packages_and_modules
	./08_maps
	./09_pointers
	./10_structs
	./11_receivers
	./12_user_input
	./13_switch_statements
)
